{% extends 'layout.html' %}
{% block heading %} Filter Page {% endblock %}
{% block content %}
<form action="" method = "POST" name ="request">
  {{form.hidden_tag()}}
  <p>
      Begin Date:<br>
      {{form.beginDate}}<br>
  </p>
  <p>
      End Date:<br>
      {{form.endDate}}<br>
  </p>
  <p>
      Section:<br> 
      {{form.sectionMenu}}<br>
  </p>

  <p>
      Graph Scale: <br>
      {{form.scale}}<br>
  </p>
  
  <hr/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}


