{% extends 'layout.html' %}
{% block heading %} Filter Page {% endblock %}
{% block content %}
<form action="" method = "POST" name ="request">
  {{form.csrf_token}}
      {{ form.hidden_tag() }}
      <style = "font-family: verdana">
          body { color: blue}

      </style>
 <p>
      Begin Date:<br>
      {{form.beginDate}}<br>
  </p>
  <p>
      End Date:<br>
      {{form.endDate}}<br>
  </p> 
  
  <p>
      Section:<br> 
      {{form.sectionMenu}}<br>
  </p>
  
  <hr/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}


