{% extends 'layout.html' %}
{% block heading %} Filter Page {% endblock %}
{% block content %}
<form action="" method = "POST" name ="request">
  {{form.csrf_token}}
      {{ form.hidden_tag() }}
      <style = "font-family: verdana">
          body { color: blue}

      </style>
  <p>
      Begin Year:<br>
      {{form.beginYear}}<br>
  </p>
  <p>
      End Year:<br>
      {{form.endYear}}<br>
  </p> 
    <p>
      Begin Month:<br>
      {{form.beginMonth}}<br>
  </p>
  <p>
      End Month:<br>
      {{form.endMonth}}<br>
  </p> 
  <p>
      Begin Day:<br>
      {{form.beginDay}}<br>
  </p>
  <p>
      End Day:<br>
      {{form.endDay}}<br>
  </p> 
  <p> Count: {{count}}</p>    
  <hr/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}


